apiVersion: dipto.mysql.example.dipto.mysql.example/v1alpha1
kind: MySQLInstance
metadata:
  labels:
    app.kubernetes.io/name: mysqlinstance
    app.kubernetes.io/instance: mysqlinstance-sample
    app.kubernetes.io/part-of: mysqlinstancecontroller
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: mysqlinstancecontroller
  name: mysqlinstance-sample
spec:
  # TODO(user): Add fields here
  hostname: mysql-db
  backupEnabled: true
  backupSchedule: "0 0 * * *"
